{% extends "layout.html" %}
{%load static%}
{% block title %} Anasayfa {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form class="form" action="{% url 'password_change' user.id %}" method="POST">
            {% csrf_token %}
                 <div class="row">
                    <div class="col-md-8">
                        <h2>Şifre Değiştir</h2>
                        <section>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label required">Yeni Şifreni Gir</label>
                                        <input name="password" type="text" class="form-control" id="password"  required>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="clearfix">
                            <button type="submit" class="btn btn-primary float-right">Şifreni Değiştir</button>
                        </section>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock%}